<ul>
  <li *ngFor="let movie of movies">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{movie.title}}</mat-card-title>
        <mat-card-subtitle>{{movie.director}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{movie.imageURL}}" alt="cinema">
      <mat-card-content>
        <p>Durée : {{movie.length}} minutes</p>
        <p>Date de sortie : {{movie.releaseDate|date:"dd/MM/yyy"}}</p>
        <p>Synopsis : {{movie.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button routerLink="../session/movie/{{movie.id}}">Voir les séances</a>
      </mat-card-actions>
    </mat-card>
  </li>

</ul>
